<!--in campground/show-->
<%include ../partials/header%>
<h1>Show Page</h1>
<h3><%=campground.name%> </h3>
<img src="<%=campground.image%>">

<p><%=campground.description%></p>

<p>
    <a class ="btn btn-success" href="/campgrounds/<%= campground._id%>/comments/new">Add new comment here hoe</a>
</p>
<% campground.comments.forEach(function(comment){ %>
    <p>
        <strong><%= comment.author%></strong> - <%= comment.text%>
    </p>
<% }) %>

<%include ../partials/footer%>
